{% extends "layout.html" %}

{% block body %}

  <div class="container-fluid">
            <div class="body advert">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">广告管理</a></li>
                    <li class="active">广告列表</li>
                </ol>
                <div class="page-title">
                    <a href="/admin/advert/add" class="btn btn-success btn-sm pull-right">添加广告</a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="" class="form-inline">
                            <select name="" class="form-control input-sm">
                                <option value="">按年龄</option>
                            </select>
                            <select name="" class="form-control input-sm">
                                <option value="">按性别</option>
                            </select>
                            <select name="" class="form-control input-sm">
                                <option value="">按地区</option>
                            </select>
                            <select name="" class="form-control input-sm">
                                <option value="">按日期</option>
                            </select>
                            <button class="btn btn-success btn-sm">筛选</button>
                        </form>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>序号</td>
                                <th>标题</th>
                                <th>图片</th>
                                <th>链接</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th>点击次数</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                           
                        </tbody>
                    </table>
                </div>
                <!-- 分页 -->
                <ul class="pagination pull-right" id="pagination">
                    <li><a href="#">上一页</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">下一页</a>
                </ul>
            </div>
        </div>    
<script type="text/template" id="tpl">
    <% adverts.forEach(function(item,index){ %>
        <tr>
                <td> <%= index + 1 %> </td>
                <td> <%= item.title %> </td>
                <td>
                    <img src="/public/uploads/<%= item.image %>" style="width: 100px;height: 100px">
                </td>
                <td> <%= item.link %> </td>
                 <td> <%= item.start_time  %> </td>
                <td> <%= item.end_time  %> </td>
                <td>126</td>
                <td>
                    <a href="javascript:;" class="btn btn-info btn-xs">编辑</a>
                    <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
                </td>
            </tr>
    <% }) %>

</script>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/node_modules/art-template/lib/template-web.js"></script>
    <script type="text/javascript" src="/node_modules/twbs-pagination/jquery.twbsPagination.min.js"></script>
    <script type="text/javascript">

        var pageSize = 5
        $.ajax({
            url:'advert/count',
            type:'get',
            success:function(data){
                if(data.err_code === 0) {
                    $('#pagination').twbsPagination({
                          totalPages:Math.ceil(data.reslut / pageSize),
                          visiblePages: 7,
                          first:'首页',
                          prev:'上一页',
                          next:'下一页',
                          last:'最后一页',
                          onPageClick: function (event, page) {
                            loadData(page)
                          }
                    })
                }
            }
        })
       
       function loadData(page) {
           $.ajax({
            url:'advert/list',
            type:'get',
            data:{
                page:page,
                pageSize:pageSize
            },
            success:function(data){
                // console.log(data)
                if(data.err_code === 0) {
                  var html =  template('tpl',{adverts:data.reslut})
                  $("#tbody").html(html)
                }
            }

           })
       }
    </script>
{% endblock %}